/* Profile  */

.profile-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

.avatar-section {
  text-align: center;
  margin-bottom: 20px;
}


.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid transparent;
  background-image: linear-gradient(135deg, #0078d7, #00c6ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(0, 120, 215, 0.4);
}

.avatar-section input {
  margin-top: 10px;
}

.avatar-section p {
  font-size: 14px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.save-btn {
  width: 100%;
  padding: 14px;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.save-btn:hover {
  background: #005fa3;
}

/* Media  */
@media (max-width: 480px) {
  .profile-container {
    padding: 20px;
    margin: 20px;
  }

  .form-group{
    margin-right: 25px;

  }

  .avatar {
    width: 100px;
    height: 100px;
    border-width: 3px;
  }

  .form-group input {
    font-size: 14px;
    padding: 10px;
  }

  .save-btn {
    font-size: 15px;
    padding: 12px;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .profile-container {
    max-width: 600px;
    padding: 25px;
  }

   .form-group{
    margin-right: 25px;

  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  .form-group input {
    font-size: 15px;
  }
}


@media (min-width: 769px) {
  .profile-container {
    max-width: 700px;
  }

   .form-group{
    margin-right: 25px;

  }
}
