.simple-form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background: #fff;
  font-family: Arial, sans-serif;
}

.simple-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.simple-form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.simple-form-container input,
.simple-form-container textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.simple-form-container textarea {
  resize: vertical;
  min-height: 100px;
}

.simple-form-container button {
  padding: 12px;
  font-size: 16px;
  background-color: #384D96;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.simple-form-container button:hover {
  background-color: #0056b3;
}

/* Адаптивность */
@media (max-width: 600px) {
  .simple-form-container {
    margin: 20px;
    padding: 15px;
  }
}

.lang-switch {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}

.lang-btn_2 {
  background: transparent;
  border: none;
  color: #8897CC;
  border-radius: 25px;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.lang-btn_2:hover {
  background: #384D96;
  color: #fff;
}
