/* Form  */

.order-page {
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.order-logo {
  width: 110px;
  margin: 0 auto 20px auto;
  display: block;
}

.order-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #222;
}

.order-description {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.order-links p {
  font-size: 14px;
  margin: 4px 0;
}

.order-links a {
  color: #0d6efd;
  text-decoration: none;
}

.order-links a:hover {
  text-decoration: underline;
}

.order-form {
  margin-top: 25px;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  text-align: left;
}

.input-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.input-group input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13,110,253,0.2);
}

.form-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #384D96;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.form-btn:hover {
  background:  #0d6efd;
}

.lang-switch {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}

.lang-btn_2 {
  background: transparent;
  border: none;
  color: #8897CC;
  border-radius: 25px;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.lang-btn_2:hover {
  background: #384D96;
  color: #fff;
}
